<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>布克书城-首页</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/host.js"></script>
    <script type="text/javascript" src="js/vue-2.5.16.js"></script>
    <script type="text/javascript" src="js/axios-0.18.0.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
</head>
<body>
<div id="app" v-cloak>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到布克书城!</div>
			<div class="fr">
				<div v-if="username" class="login_btn fl">
					欢迎您：<em>[[ username ]]</em>
					<a @click="logoutfunc" class="quit">退出</a>
				</div>
				<div v-else class="login_btn fl">
					<a href="login.html">登录</a>
					<span>|</span>
					<a href="register.html">注册</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="user_center_info.html">用户中心</a>
					<span>|</span>
					<a href="cart.html">我的购物车</a>
					<span>|</span>
					<a href="user_center_order.html">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="images/logo02.png"></a>
		<div class="search_wrap fl">
			<form method="get" action="search.html" class="search_con">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
			<ul class="search_suggest fl">
				<li><a href="#">儿童书籍</a></li>
				<li><a href="#">中西小说</a></li>
				<li><a href="#">教材</a></li>
				<li><a href="#">影视音像</a></li>
			</ul>
		</div>	
	
		<div class="guest_cart fr">
            <a href="cart.html" class="cart_name fl">我的购物车</a>
            <div class="goods_count fl" id="show_count">[[ cart_total_count ]]</div>
            <ul class="cart_goods_show">
                <li v-for="cart in carts">
                    <img :src="cart.default_image_url" alt="商品图片">
                    <h4>[[ cart.name ]]</h4>
                    <div>[[ cart.count ]]</div>
                </li>
            </ul>
		</div>
        
	</div>

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">书籍分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
			</ul>
		</div>
	</div>

	<div class="pos_center_con clearfix">

		<ul class="slide">

            <li><a href="#"><img src="images/slide01.png" alt="嫌疑人X的献身热销中"></a></li>
            <li><a href="#"><img src="images/slide02.png" alt="阅读让生活更精彩"></a></li>
            <li><a href="#"><img src="images/slide03.png" alt="冰与火之歌"></a></li>
            <li><a href="#"><img src="images/slide04.png" alt="活动"></a></li>

		</ul>
		<div class="prev"></div>
		<div class="next"></div>
		<ul class="points">
		</ul>
<!-- 
content_category:{
    chanels:[
        {   
            name:"",
            id:"",
            url:"",
            sub_cats:[
                {
                    {
                        name:"",
                        id:"",
                        url:""
                    },......
                }
            ]
        },......
    ]
   
} 
-->
            <ul v-for="(chanel,index) in content_category.chanels" class="sub_menu">
                    <li>
                        <div class="level1">
                                <a href="{{ chanel.url }}">{{chanel.name}}</a>
                        </div>
                        <div class="level2">
                
                            <div v-for="(cat2,index) in chanel.sub_cats"  class="list_group">

                                <div class="group_name fl">{{ cat2.name }}&gt;</div>
                                <div class="group_detail fl">
                                     <a href="/list.html?cat={{ cat2.id }}">{{ cat2.name }}</a>
                                </div>

                            </div>
                        </div>
                    </li>
                
            </ul>
    </div>
<!-- 
goods_on_index:{
    1F:{
        1:[
            {
                tilte:"",
                url:"",
                image_url:""
            },......
        ],
        2:[
            {
                title:"",
                url:"",
                image_url:""
            },......
        ],
        3:[
            {
                title:"",
                url:"",
                image_url:""
            },......
        ]
        0:[
            {
                title:"",
                url:"",
            },top3
        ]
    },
    2F:{
        1:[
            {
                title:"",
                url:"",
                image_url:""
            },......
        ],
        2:[
            {
                title:"",
                url:"",
                image_url:""
            },......
        ]
         0:[
            {
                title:"",
                url:"",
            },top3
        ]
        
    },
    3F:{
        1:[
            {
                title:"",
                url:"",
                image_url:""
            },......
        ],
        2:[
            {
                title:"",
                url:"",
                image_url:""
            },......
        ],
        3:[
            {
                title:"",
                url:"",
                image_url:""
            },......
        ],
        4:[
            {
                title:"",
                url:"",
                image_url:""
            },......
        ]
        0:[
            {
                title:"",
                url:"",
            },top3
        ]
    }

}

 -->
    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">1F 热销好书</h3>
            <div class="subtitle fr">
                <a @mouseenter="f1_tab=1" :class="f1_tab===1?'active':''">童书</a>
                <a @mouseenter="f1_tab=2" :class="f1_tab===2?'active':''">人文社科</a>
                <a @mouseenter="f1_tab=3" :class="f1_tab===3?'active':''">其他热销书</a>
            </div>
        </div>
        <div class="goods_con clearfix">
            <div class="goods_banner fl">

                <img src="images/banner01.png">
                <div class="channel">
                    
                        <a href="#">热销好书</a>

                </div>
                <div class="key_words" >
                    <ul v-for:"(content,index) in goods_on_index.1F.0">
                        <a href="content.url">{{ content.title }}</a>
                    </ul>    
                </div>
            </div>
            <div class="goods_list_con">
                <ul v-show="f1_tab===1" class="goods_list fl" v-for:"(content,index) in goods_on_index.1F.1">
 
                        <li>
                            <a href="{{ content.url }}" class="goods_pic"><img src="{{ content.image_url }}"></a>
                            <h4><a href="{{ content.url }}" title="{{ content.title }}">{{ content.title }}</a></h4>
                            <div class="price">{{ content.text }}</div>
                        </li>

                </ul>
                <ul v-show="f1_tab===2" class="goods_list fl" v-for:"(content,index) in goods_on_index.1F.2">
     
                        <li>
                            <a href="{{ content.url }}" class="goods_pic"><img src="{{ content.image.url }}"></a>
                            <h4><a href="{{ content.url }}" title="{{ content.title }}">{{ content.title }}</a></h4>
                            <div class="price">{{ content.text }}</div>
                        </li>

                </ul>
                <ul v-show="f1_tab===3" class="goods_list fl" v-for:"(content,index) in goods_on_index.1F.3">

                        <li>
                            <a href="{{ content.url }}" class="goods_pic"><img src="{{ content.image.url }}"></a>
                            <h4><a href="{{ content.url }}" title="{{ content.title }}">{{ content.title }}</a></h4>
                            <div class="price">{{ content.text }}</div>
                        </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="list_model model02">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">2F 古今名著</h3>
            <div class="subtitle fr">
                <a @mouseenter="f2_tab=1" :class="f2_tab===1?'active':''">古代名著</a>
                <a @mouseenter="f2_tab=2" :class="f2_tab===2?'active':''">近现代名著</a>
            </div>
        </div>
        <div class="goods_con clearfix">
            <div class="goods_banner fl">

                <img src="images/banner02.png">
                <div class="channel">
                    
                        <a href="#">古今名著</a>

                </div>
                <div class="key_words" >
                    <ul v-for:"(content,index) in goods_on_index.2F.0">
                        <a href="content.url">{{ content.title }}</a>
                    </ul>    
                </div>
            </div>
            <div class="goods_list_con">
                <ul v-show="f2_tab===1" class="goods_list fl" v-for:"(content,index) in goods_on_index.2F.1">
       
                        <li>
                            <a href="{{ content.url }}" class="goods_pic"><img src="{{ content.image.url }}"></a>
                            <h4><a href="{{ content.url }}" title="{{ content.title }}">{{ content.title }}</a></h4>
                            <div class="price">{{ content.text }}</div>
                        </li>

                </ul>
                <ul v-show="f2_tab===2" class="goods_list fl" v-for:"(content,index) in goods_on_index.2F.2">
             
                        <li>
                            <a href="{{ content.url }}" class="goods_pic"><img src="{{ content.image.url }}"></a>
                            <h4><a href="{{ content.url }}" title="{{ content.title }}">{{ content.title }}</a></h4>
                            <div class="price">{{ content.text }}</div>
                        </li>
                 
                </ul>
            </div>
        </div>
    </div>

    <div class="list_model model03">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">3F 教育教材</h3>
            <div class="subtitle fr">
                <a @mouseenter="f3_tab=1" :class="f3_tab===1?'active':''">中小学教材</a>
                <a @mouseenter="f3_tab=2" :class="f3_tab===2?'active':''">大中专教材</a>

            </div>
        </div>
        <div class="goods_con clearfix">
            <div class="goods_banner fl">

                <img src="images/banner03.png">
                <div class="channel">
                    
                        <a href="#">教育教材</a>

                </div>
                <div class="key_words" >
                    <ul v-for:"(content,index) in goods_on_index.3F.0">
                        <a href="content.url">{{ content.title }}</a>
                    </ul>    
                </div>
            </div>
            <div class="goods_list_con">
                <ul v-show="f3_tab===1" class="goods_list fl" v-for:"(content,index) in goods_on_index.3F.1">
      
                        <li>
                            <a href="{{ content.url }}" class="goods_pic"><img src="{{ content.image.url }}"></a>
                            <h4><a href="{{ content.url }}" title="{{ content.title }}">{{ content.title }}</a></h4>
                            <div class="price">{{ content.text }}</div>
                        </li>
                  
                </ul>
                <ul v-show="f3_tab===2" class="goods_list fl" v-for:"(content,index) in goods_on_index.3F.2">
                    
                        <li>
                            <a href="{{ content.url }}" class="goods_pic"><img src="{{ content.image.url }}"></a>
                            <h4><a href="{{ content.url }}" title="{{ content.title }}">{{ content.title }}</a></h4>
                            <div class="price">{{ content.text }}</div>
                        </li>
     
                </ul>
                
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2022 杭州布克无限无责任个人 All Rights Reserved</p>
        <p>电话：666-****888    浙ICP备*******1号</p>
    </div>
</div>

<script type="text/javascript" src="js/slide.js"></script>
<script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>

</html>